<!DOCTYPE html>
<html lang="en">
    <head>
      <title>display</title>
    </head>
    <body>
      Puppy Name: <%= "#{name}"   %>
      Puppy age: <%= "#{name}"   %>
      Puppy breed: <%= "#{name}"   %>
    </body>
  </html>